* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #112f91;
    --secondary-color: #FFA300;
    --color-light: #f4f4f4;
    --color-dark: #333;
}

body {
    font-family: 'Barlow', sans-serif;
}

/* Utility Classes */
.p-1 { padding: 1rem; }
.p-2 { padding: 1.5rem; }
.p-3 { padding: 3rem; }

.py-1 { padding: 1rem 0; }
.py-2 { padding: 1.5rem 0; }
.py-3 { padding: 3rem 0; }

.px-1 { padding: 0 1rem; }
.px-2 { padding: 0 1.5rem; }
.px-3 { padding: 0 3rem; }

.container {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    overflow: hidden;
}

.bg-primary {
    background-color: var(--primary-color);
    color: var(--color-light);
}

.bg-secondary {
    background-color: var(--secondary-color);
    color: var(--color-light);
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}

.btn {
    background-color: var(--primary-color);
    color: var(--color-light);
    padding: .7rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
    margin: auto;
    transition: all 0.3s ease-in-out;
    font-size: 1rem;
    font-family: 'Barlow', sans-serif;
}

.btn:hover {
    background: rgb(07,37,125);
}

.bg-light {
    background-color: var(--color-light);
}

.l-heading {
    font-size: 5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.m-heading {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.m-paragraph {
    font-size: 1.5rem;
    font-weight: 400;
}

.l-paragraph {
    font-size: 2.5rem;
    font-weight: 300;
}

/* SHOWCASE */

#showcase {
    position: relative;
    height: 80vh;
    width: 100%;
    background-color: rgba(0,0,0,0.7)
}

#showcase::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url(/img/chave-1.jpg) no-repeat center center/cover;
}

#showcase .showcase-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color-light);
}

/* PHONES */

#phones {
    height: 20vh;
}

#phones .items {
    display: flex;
    align-items: center;
    justify-content: center;
}

#phones .items .item {
    flex: 1;
    text-align: center;
}

#phones .items .item i {
    margin-bottom: 1rem;
}

/* BENEFITS */
#benefits {
    color: var(--color-dark);
}

#benefits h2 {
    text-align: center;
}

#benefits p {
    text-align: justify;
}

#benefits p a {
    text-decoration: none;
}

#benefits p a:focus {
    outline: 1px solid var(--primary-color);
    outline-offset: 3px;
}

/* SERVICES */

#services {
    position: relative;
    background-color: rgba(0,0,0,0.7);
    color: var(--color-light);
}

#services::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: url(/img/chave-4.jpg) no-repeat center center/cover;
    background-attachment: fixed;
}

#services h2 {
    margin-top: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

#services .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

#services .items .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

#services .items .item i {
    margin-bottom: 1rem;
    padding: 1rem;
    color: var(--color-light);
    background-color: var(--secondary-color);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

#services .items .item i:hover {
    background-color: var(--primary-color);
}

#services .items .item p {
    font-size: 1.3rem;
}

/* CONTACT */

#contact .contact-content {
    display: flex;
}

#contact .contact-content .contact-form {
    flex: 1;
    color: var(--color-dark);
}

#contact .contact-content .contact-form p {
    margin-bottom: 2rem;
}

#contact .contact-content .contact-form form {
    display: flex;
    flex-direction: column;
}

#contact .contact-content .contact-form form input:not(.btn),
#contact .contact-content .contact-form form textarea {
    padding: .7rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    border: #aaa 1px solid;
    background-color: var(--color-light);
    font-size: 1rem;
    resize: none;
    font-family: 'Barlow', sans-serif;
}

#contact .contact-content .contact-form form input:not(.btn):focus,
#contact .contact-content .contact-form form textarea:focus {
    border-color: var(--primary-color);
    outline: none;
}

#contact .contact-content .contact-form form textarea {
    padding-bottom: 4rem;
}

#contact .contact-content .contact-form form .btn:focus {
    box-shadow: /* Cria borda de foco */
        0 0 0 3px var(--color-light),
        0 0 0 5px var(--primary-color);
    border: none;
    outline: none;
}

/* Tira outline do mozilla */
::-moz-focus-inner {
    border: none;
}

#contact .contact-content .store {
    height: 600px;
    flex: 1;
    background: url(/img/loja.jpg) no-repeat center center/cover;
    border-radius: 5px;
}

/* Media queries */

@media (max-width: 800px) {

    /* Services */
    #services .items {
        grid-template-columns: repeat(2, 1fr);
    }


    /* Contact */
    #contact .contact-content {
        flex-direction: column-reverse;
    }

    #contact .contact-content .contact-form,
    #contact .contact-content .store {
        flex: none;
    }

    #contact .contact-content .store {
        height: 500px;
        margin: 0 1.5rem;
    }

    #contact .contact-content .contact-form {
        text-align: center;
    }
}

@media (max-width: 500px) {

    /* Showcase */
    #showcase {
        height: 60vh;
    }

    #phones {
        height: 30vh;
    }


    /* Utilities */
    .l-heading {
        font-size: 4rem;
    }

    .l-paragraph {
        font-size: 2rem;
    }

    .m-paragraph {
        font-size: 1.2rem;
    }

    /* Services */
    #services .items {
        grid-template-columns: repeat(2, 1fr);
    }

    #services .items .item i {
        font-size: 2rem;
    }

    #services .items .item p {
        font-size: 1rem;
    }


    /* Contact */

    #contact .contact-content .store {
        height: 350px;
    }

}










